
button,
.button {
	@include ButtonMixin(
		$bg: $accent,
		$cl: #fff,
		$rd: .25rem,
		$pd: 0 1.2rem,
		$shd: (0 -1px 0 1px rgba(#000, .20) inset),
		$pshd: (0 1px 0 1px rgba(#000, .20) inset),
		$lh: 2.4rem,
		$fs: 1rem
		);

	&[disabled],
	&.disabled {
		@include ButtonMixin(
			$bg: #808080,
			$cl: #fff,
			$rd: .25rem,
			$pd: 0 1.2rem,
			$shd: (0 -1px 0 1px rgba(#000, .20) inset),
			$pshd: (0 1px 0 1px rgba(#000, .20) inset),
			$lh: 2.4rem,
			$fs: 1rem
			);
	}
}

.button-blue {
	@include ButtonMixin(
		$bg: $color-blue,
		$cl: #fff,
		$rd: .25rem,
		$pd: 0 1.2rem,
		$shd: (0 -1px 0 1px rgba(#000, .20) inset),
		$pshd: (0 1px 0 1px rgba(#000, .20) inset),
		$lh: 2.4rem,
		$fs: 1rem
		);
}

.button-red {
	@include ButtonMixin(
		$bg: $color-red,
		$cl: #fff,
		$rd: .25rem,
		$pd: 0 1.2rem,
		$shd: (0 -1px 0 1px rgba(#000, .20) inset),
		$pshd: (0 1px 0 1px rgba(#000, .20) inset),
		$lh: 2.4rem,
		$fs: 1rem
		);
}
