
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.tight {
	margin-top: 0;
	margin-bottom: .5rem;
}

.shrinkwrap {
	margin-top: 0;
	margin-bottom: 0;
}
