
// This is for the repository demo, only.
// Do not import this file in your SCSS source, you definitely don't need it.

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	padding: 0;
}

body {
	background: #f0f0f0;
	font-family: sans-serif;
	padding: 0;
	color: #505050;
}
