
$alignmets: (center, right, left);

@each $al in $alignmets {
	.text-#{$al} {
		text-align: #{$al};
	}
}

$forced-sizes: (16px, 24px, 32px, 40px, 48px, 56px, 64px, 72px);

@each $size in $forced-sizes {
	.font-size-#{$size} {
		font-size: #{$size};
	}
}

.shrinkwrap {
	margin: 0;
	padding: 0;
}
