
.top-nav {
	@extend %clearfix;
	background: #fff;
	border: 1px solid #48f;
}

.top-nav-menu {
	@extend %clearfix;
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;

	li {
		float: left;
		display: block;
	}

	a {
		line-height: 3rem;
		padding: 0 1.2rem;
		text-decoration: none;
		display: block;

		&.active {
			background: #48f;
			color: #fff;
		}
	}
}
